:root {
    --element-border-radius: 5px;
    --element-box-shadow:  
        inset 0 1px 0 0 rgb(255, 255, 255, 24%),
        0 2px 3px 0 rgb(0, 0, 0, 16%),
        0 0 0 1px rgb(0, 0, 0, 4%);
}


ion-button {
    --box-shadow: 
        inset 0 0 0 1px rgb(0, 0, 0, 8%), 
        inset 0 2px 0 0 rgb(255, 255, 255, 24%),
        0 2px 2px 0 rgb(0, 0, 0, 6%);

    text-transform: capitalize;
    letter-spacing: -0.125px;
}

span.hide-on-mobile.abbreviation {
    text-transform: lowercase;
}

ion-button.button-solid.ion-activated {
    --box-shadow: 
        inset 0 0 0 1px rgb(0, 0, 0, 8%), 
        inset 0 2px 0 0 rgb(255, 255, 255, 24%),
        0 2px 8px 0 rgb(0, 0, 0, 24%);
}

ion-button.button-small {
    --border-radius: 5px;
    height: 32px;
}

ion-button:not(.button-small):not(.button-large) {
    --border-radius: 6px;
    height: 38px;
    font-size: 16px;
}

ion-button.button-large {
    --border-radius: 7px;
    height: 48px;
}

ion-header ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
}



ion-content ion-searchbar {
    --border-radius: var(--element-border-radius) !important;
    --box-shadow: var(--element-box-shadow) !important;
    padding: 0 !important;
}

ion-content ion-card {
    margin-left: 0;
    margin-right: 0;
}



ion-card {
    border-radius: 7px;
    box-shadow:
        inset 0 1px 0 0 rgb(255, 255, 255, 24%),
        0 2px 3px 0 rgb(0, 0, 0, 16%),
        0 0 0 1px rgb(0, 0, 0, 4%);
}

ion-avatar {
    --border-radius: 5px;
}



ion-header ion-title {
    font-weight: 600;
}





@media only screen and (min-width: 768px) {

    /* phone */
    .theme ion-button {
        width: 100%;
    }
}

.funcBttn {
    --background: var(--ion-color-primary);
    color: white;
}

.dateStyle {
    /* background-color: var(--ion-color-primary); */
}

ion-modal.datetime-modal * {
    color: #000;
}

@media only screen and (max-width: 768px) {
    span.hide-on-mobile {
        display: none;
    }
}










.fade-move,
.fade-enter-active,
.fade-leave-active {
    transition: all 300ms ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-leave-active {
    position: absolute;
    width: 100%;
}